/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Android101";
  src: url("./res/fonts/Android101.eot"); /* IE9 Compat Modes */
  src: url("./res/fonts/Android101.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./res/fonts/Android101.otf") format("opentype"),
    /* Open Type Font */ url("./res/fonts/Android101.svg") format("svg"),
    /* Legacy iOS */ url("./res/fonts/Android101.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./res/fonts/Android101.woff") format("woff"),
    /* Modern Browsers */ url("./res/fonts/Android101.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*INITIAL SETUP*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(20, 26, 40);
  z-index: -10;
}

/*UTILS*/
.center_abs
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center
{
  margin: auto
}


/*LANDING PAGE*/

.landing {
  position: relative;
  height: 100vh;
  font-family: Android101, Helvetica, sans-serif;
  
  overflow: hidden;
}

.landing__hexagons {
  width: 110%;
  display: inline-block;
  margin-left: -10%;
  animation: blink 2.5s infinite alternate;
}

.landing__box
{
  z-index: 10;
  text-align: center;
}

.landing__title {
  position: relative;
  font-size: 15rem;
  color: rgba(176, 208, 224, 0.8);
  text-shadow: 0 0 2rem rgba(176, 208, 224, 0.8);
  z-index: 1;
}
.landing__title::after,
.landing__title::before {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 15rem;
  content: "HACKATHON";
}

.landing__title::before {
  transform: translate(-0.75rem, -0.75rem);
  color: white;
  z-index: 2;
}
.landing__title::after {
  transform: translate(0.5rem, 0.5rem);
  color: rgba(201, 76, 139, 0.8);
  text-shadow: 0 0 2rem rgba(201, 76, 139, 0.8);
  z-index: -1;
}

.landing__subtitle {
  width: -webkit-max-content;
  position: relative;
  font-size: 10rem;
  color: rgba(176, 208, 224, 0.8);
  text-shadow: 0 0 2rem rgba(176, 208, 224, 0.8);
  z-index: 1;
  padding-bottom: 10rem;
}

.landing__subtitle::after,
.landing__subtitle::before {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 10rem;
  content: "ONLINE";
}

.landing__subtitle::before {
  transform: translate(-0.5rem, -0.5rem);
  color: white;
  z-index: 2;
}
.landing__subtitle::after {
  transform: translate(0.3rem, 0.3rem);
  color: rgba(201, 76, 139, 0.8);
  text-shadow: 0 0 2rem rgba(201, 76, 139, 0.8);
  z-index: -1;
}

.landing__countdown_desc{
  color: rgba(176, 208, 224, 0.8);
  font-size: 6rem;
}

.landing__countdown {
  position: relative;
  font-size: 6rem;
  color: rgba(176, 208, 224, 0.8);
  /*text-shadow: 0 0 2rem rgba(176, 208, 224, 0.8);*/
  z-index: 1;
}

/*.landing__countdown::after,
.landing__countdown::before {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 6rem;
  content: attr(time-left);
}

.landing__countdown::before {
  transform: translate(-0.375rem, -0.375rem);
  color: white;
  z-index: 2;
}

.landing__countdown::after {
  transform: translate(0.25rem, 0.25rem);
  color: rgba(201, 76, 139, 0.8);
  text-shadow: 0 0 2rem rgba(201, 76, 139, 0.8);
  z-index: -1;
}*/

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.6;
  }
}


.description{
  height: 100vh;
  column-count: 2;
  color: white;
}

.description__part{
  padding: 4rem 12rem;
  font-size: 2em;
  height: 100%;
}

.description__logo{
  width: 100%;
}

.text_block
{
  padding: 3rem 0;
}

.text_block--emphasis
{
  font-weight: bold;
}